body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  border-radius: 20px;
}
.text-1 {
  width: 252px;
  height: 253px;
  border-radius: 20px;
  background-color: #ffd60a;
}
.text-2 {
  width: 252px;
  height: 253px;
  border-radius: 20px;
  background-color: #ffc300;
}

.text-img {
  width: 95px;
  height: 95px;
  position: relative;
  top: 19px;
  left: 17px;
}
.pre {
  font-family: "Poppins";
  font-weight: 600;
  font-style: bold;
  color: #003566;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  top: 24px;
  left: 0;
}
/* div {
    width: 150px;
    height: 150px;
    border: #003566;
    overflow: hidden;
  } */
.container {
  box-sizing: border-box;
  margin: auto;
  width: 836px;
  height: 730px;
  border-radius: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  position: relative;
  top: 20px;
  left: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.img-a {
  width: 252px;
  height: 253px;
  grid-column: 1/2;
  grid-row: 1/2;

  position: relative;
  top: -224px;
  left: -96px;
  object-fit: cover;
}
.img-b {
  width: 252px;
  height: 253px;
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  top: -173px;
  left: -92px;
  object-fit: cover;
}
.img-c {
  width: 253px;
  height: 253px;
  grid-column: 3/4;
  grid-row: 1/2;

  position: relative;
  top: -122px;
  left: -88px;
  object-fit: cover;
}
.img-d {
  width: 253px;
  height: 253px;
  grid-column: 4/5;
  grid-row: 1/2;
  position: relative;
  top: -69px;
  left: -84px;
  object-fit: cover;
}
.img-e {
  width: 252px;
  height: 253px;
  grid-column: 1/2;
  grid-row: 2/3;

  position: relative;
  top: -221px;
  left: -96px;
  object-fit: cover;
}
.img-f {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;

  top: -169px;
  left: -90px;
}
.img-g {
  width: 251px;
  height: 253px;
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  top: -118px;
  right: 85px;
  object-fit: cover;
}
.img-h {
  width: 252px;
  height: 251px;
  grid-column: 4/5;
  grid-row: 2/3;
  position: relative;
  top: -65px;
  left: -82px;
  object-fit: cover;
}
.img-i {
  width: 252px;
  height: 252px;
  grid-column: 1/2;
  grid-row: 3/4;

  position: relative;
  top: -217px;
  left: -97px;
  object-fit: cover;
}
.img-j {
  width: 251px;
  height: 251px;
  grid-column: 2/3;
  grid-row: 3/4;
  position: relative;
  top: -165px;
  left: -91px;
  object-fit: cover;
}
.img-k {
  grid-column: 3/4;
  grid-row: 3/4;

  position: relative;
  top: -115px;
  left: -87px;
}
.img-l {
  width: 252px;
  height: 253px;
  grid-column: 4/5;
  grid-row: 3/4;

  position: relative;
  top: -63px;
  left: -81px;
  object-fit: cover;
}
.img-m {
  width: 252px;
  height: 253px;
  grid-column: 1/2;
  grid-row: 4/5;

  position: relative;
  top: -214px;
  left: -97px;
  object-fit: cover;
}
.img-n {
  width: 252px;
  height: 253px;
  grid-column: 2/3;
  grid-row: 4/5;

  position: relative;
  top: -163px;
  left: -92px;
  object-fit: cover;
}
.img-o {
  width: 252px;
  height: 253px;
  grid-column: 3/4;
  grid-row: 4/5;
  position: relative;
  top: -111px;
  left: -87px;
  object-fit: cover;
}
.img-p {
  width: 251px;
  height: 254px;
  grid-column: 4/5;
  grid-row: 4/5;
  position: relative;
  top: -60px;
  left: -82px;
  object-fit: cover;
}
